{% extends 'layouts/home.html' %} {% block content %}


    <!-- The video -->
    <video autoplay muted loop id="myVideo">
      <source src="{{ url_for('static', filename='img/agua.mp4') }}" type="video/mp4">
    </video>

    <!-- Optional: some overlay text to describe the video -->
    <div  id ="content" class="content">
      <h1>Selecciona un servicio</h1>
      <!-- Use a button to pause/play the video with JavaScript -->
      <button class="btn btn-default btnDrop" onclick="javascript:;">Garrafón</button>
      <button class="btn btn-default btnDrop" onclick="javascript:;">Por demanda</button>
    </div>    




{% endblock %}